In [12]:
#conditionals
number = 8
if number > 10:
    print('This number is greater than 10.')
else:
    print('This number is less than 10')

if 10 < 100:
    print('Yup')


    #functions
def fname(arg):
    pass
def name_printer(name):
    print(name)

This number is less than 10
Yup

In [13]:
name_printer('Jack Daniel')

Jack Daniel

In [14]:
name_printer(123)

123

In [15]:
def id_printer(name,value):
    print(name, value)

In [17]:
id_printer('Jack Daniel', 247420365)

Jack Daniel 247420365

In [18]:
# for loops

In [19]:
for i in [1,2,3,4,5]:
    print("VALUE: ", i)

VALUE:  1
VALUE:  2
VALUE:  3
VALUE:  4
VALUE:  5

In [20]:
for i in range(20):
    print("VALUE: ", i)

VALUE:  0
VALUE:  1
VALUE:  2
VALUE:  3
VALUE:  4
VALUE:  5
VALUE:  6
VALUE:  7
VALUE:  8
VALUE:  9
VALUE:  10
VALUE:  11
VALUE:  12
VALUE:  13
VALUE:  14
VALUE:  15
VALUE:  16
VALUE:  17
VALUE:  18
VALUE:  19

In [21]:
#while loops
x=10
while x > 0:
    print('x is still greater than 0')
    x = x-1

x is still greater than 0
x is still greater than 0
x is still greater than 0
x is still greater than 0
x is still greater than 0
x is still greater than 0
x is still greater than 0
x is still greater than 0
x is still greater than 0
x is still greater than 0

In [25]:
#tuples

array = ['jack','daniel']
array[0]='jimbob'

print(array[0]+" "+array[1])

jimbob daniel

In [33]:
groceryArray = ['eggs','milk','cheese','kombucha','coffee','alligator jerky']
listSlice=groceryArray[2:4]
slice_up_to_3=groceryArray[:3]
slice_from_3=groceryArray[3:]
slice_2nd_from_end=groceryArray[-2]


print(listSlice)
print(slice_up_to_3)
print(slice_from_3)
print(slice_2nd_from_end)

['cheese', 'kombucha']
['eggs', 'milk', 'cheese']
['kombucha', 'coffee', 'alligator jerky']
coffee

In [42]:
#tuples the teacher ,messed up and i figured it out on my own
(x_values, y_values)= ([1,2,3],[-1,-2,-3,])
print('PLOT THIS POINT: ', x_values[2]  ,"," ,y_values[0])

PLOT THIS POINT:  3 , -1

In [45]:
tuple = (x_values,y_values)
print(tuple[0])

[1, 2, 3]

In [46]:
tuple = (x_values,y_values)
print(tuple[0][1])

2

In [47]:
tuple = (x_values,y_values)
print(tuple[0:])

([1, 2, 3], [-1, -2, -3])

In [49]:
tuple = (x_values,y_values)
print(tuple[:2])

([1, 2, 3], [-1, -2, -3])

In [50]:
tuple = (x_values,y_values)
print(tuple[:1])

([1, 2, 3],)